*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Geometr212 BkCn BT',consolas;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    
}